<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SidkenuWF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SidkenuWF.Properties.Settings>
            <setting name="UserLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="UserLoginId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="EmpresaId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="PersonaLoginId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="PersonaLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorR" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="ColorG" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="ColorB" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="PuestoTrabajoId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="CajaId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="CajaDetalleId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
        </SidkenuWF.Properties.Settings>
    </userSettings>
</configuration>